# Environment Variables
.env
.env.*
!.env.example
.venv
venv/
__pycache__/
*.pyc

# Node modules
node_modules/
npm-debug.log

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
logs/*
backend/logs/*
!logs/.gitkeep

output/
backend/output/

# Data & Models
backend/ml_engine/models/*.bin
backend/ml_engine/models/*.pkl
data/samples/*.csv
data/samples/*.xlsx

.history